/* Navigation Bar */
nav {
    width: auto;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  position: relative;
  padding: 5px 0;
}

/* Hover effect */
nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffd700;
  left: 0;
  bottom: -3px;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: #ffd700;
}

/* Content styling */
.content {
  text-align: center;
  margin-top: 50px;
}

.activePage {
    color:#ffd700 
}