/* HOMEPAGESECTION START */
.homepage00  {
  height: 100%;              /* make the page take full height */
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #a9a8a8;
  padding-top: 70px; /* space for nav bar if you have one */
}
/* Navigation Bar */
nav { 
    top: 0;
    left: 0;
    position: fixed;
width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background-color: whitesmoke;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  position: relative;
  padding: 5px 0;
}

/* Hover effect */
nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffd700;
  left: 0;
  bottom: -3px;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: #ffd700;
}

/* Content styling */
.content {
  text-align: center;
  margin-top: 50px;
}

.activePage {
    color:#ffd700

}
/* Page text styling */
.homepage01 {
 text-align: center;
  margin-top: 50px;
  font-size: 20px;
  color: #333;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.homepage02 {
     text-align: center;
  margin-top: 100px;
  font-size: 20px;
  color: #333;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* Image styling */
.home-image {
margin-top: 30px;
  display: block;
  margin: 30px auto;
  width: 60%;
  max-width: 600px;
  border-radius: 5px;
}
/* Footer styling */
footer {
  background: #182848;
  color: white;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  font-size: 14px;
  margin-top: auto;  
}

.member-list ul {
      padding: 0;
  text-align: center;
  font-size: 20px;
  color: #333;
  margin: 10px 0;
}

/* HOMEPAGESECTION END */
/* Jonathan PAGE*/

.jon01 {
  background-image: url(adosolute\ cinema.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  min-height: 100vh; 
}

/* end of page J